<html lang="fr" style="width:190mm;padding:0;margin: 0;">
<head>
    <meta charset="utf-8">
</head>
<body bgcolor="#ffffff" style="font-family: Arial, Helvetica, sans-serif;width:190mm;">
<table border="0" width="100%">
    <tr>
        <td border="0.5" width="45%">
            <span style="font-size: 8pt; font-weight: bold;">
                    &nbsp;INFORMATIONS DE LA COMMANDE
            </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                    DATE COMMANDE : 11-07-2019
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   FACTURE N° : 2019-22
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   CLIENT : Ouerghui Nizar
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                    N° DE COMMANDE : #22
                </span><br><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                    MODE DE PAIEMENT : Paypal
                </span>
            <br><br>
        </td>
        <td width="10%">
            &nbsp;
        </td>
        <td border="0.5" width="45%">
            <span style="font-size: 8pt; font-weight: bold;">
                    &nbsp;INFORMATIONS DE LIVRAISON
            </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                    Coccinet
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   Ouerghui Nizar
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                  Adresse 1
                </span>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   Adresse 2
                </span>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   41020 Tunis
                </span><br>
            <span style="font-size: 8pt; font-weight: bold;">
                     &nbsp;INFORMATIONS DE FACTURATION
            </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                    Coccinet
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   Ouerghui Nizar
                </span><br>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                  Adresse 1
                </span>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   Adresse 2
                </span>
            <span style="font-size: 10pt;font-weight: 400;font-style: normal;text-decoration: none;">
                   41020 Tunis
                </span>
        </td>
    </tr>
</table>
<br><br>
<table width="100%" style="border: 0.2px solid #f6f6f6">
    <tr style="border: 0 solid white;">
        <td width="40%" style="font-size: 10pt;border: 0px solid white;background-color: #F7F7F7;font-weight: bold;height: 40px;"  align="center"><br><br>PRODUITS</td>
        <td width="30%" style="font-size: 10pt;border: 0px solid white;background-color: #F7F7F7;font-weight: bold;height: 40px;"  align="center"><br><br>QUANTITÉ</td>
        <td width="30%" style="font-size: 10pt;border: 0px solid white;background-color: #F7F7F7;font-weight: bold;height: 40px;"  align="center"><br><br><span>PRIX</span></td>
    </tr>
    <tr style="border: 0 solid white;"><td style="width:100%;">&nbsp;</td></tr>
    <tr style="border: 0 solid white;">
        <td width="40%" style="font-size: 10pt;border: 0px solid white;"  align="center" valign="center">TROPHÉES DE LA MAÎTRISE DES RISQUES</td>
        <td width="30%" style="font-size: 10pt;border: 0px solid white;"  align="center" valign="center">1</td>
        <td width="30%" style="font-size: 10pt;border: 0px solid white;"  align="center"><br>19,95 €</td>
    </tr>
    <tr style="border: 0 solid white;"><td style="width:100%;">&nbsp;</td></tr>
</table>
<br><br>
<table width="100%">
    <tr>
        <td width="50%" style="border:0px solid white;text-align: left;">&nbsp;&nbsp;</td>
        <td width="50%" style="border:0px solid white;text-align: right;">&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td width="85%" style="border:0px solid white;text-align: right;">SOUS-TOTAL:</td>
        <td width="15%" style="border:0px solid white;text-align: right;">19,95 €</td>
    </tr>
    <tr>
        <td width="85%" style="border:0px solid white;text-align: right;">FRAIS DE PORT:</td>
        <td width="15%" style="border:0px solid white;text-align: right;">20 €</td>
    </tr>
    <tr>
        <td width="85%" style="border:0px solid white;text-align: right;">TVA:</td>
        <td width="15%" style="border:0px solid white;text-align: right;">3,99 €</td>
    </tr>
    <tr>
        <td width="85%" style="border:0px solid white;text-align: right;">TVA LIVRAISON:</td>
        <td width="15%" style="border:0px solid white;text-align: right;">13,97 €</td>
    </tr>
    <tr>
        <td width="50%" style="border:0px solid white;text-align: left;">&nbsp;&nbsp;</td>
        <td width="50%" style="border:0px solid white;text-align: right;">&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td width="85%" style="border:0px solid white;text-align: right;font-weight: bold;">TOTAL:</td>
        <td width="15%" style="border:0px solid white;text-align: right;font-weight: bold;">41,90 €</td>
    </tr>
    <tr>
        <td width="50%" style="border:0px solid white;text-align: left;">&nbsp;&nbsp;</td>
        <td width="50%" style="border:0px solid white;text-align: right;">&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>

</body>
</html>